<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
    <head>
        <title>
            {{.Title}}
        </title>
        <meta name="description" content="{{ .Description }}">
        <link rel="stylesheet" href="/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
    </head>
    <body>
        {{partial "breadcrumbs.html" .}}
        <div class="container">
            {{partial "translations.html" .}}
            <main>
                {{block "main" .}}
                {{end}}
            </main>
        </div>
    </body>
</html>